<%= link "Go to user page", class: "btn btn-success", to: Routes.user_path(@conn, :index) %>



<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p>by @musa</p>
</div>